form {
  border: 2px dotted gray;
  color: blueviolet;
}
a {
  color: white;
}

/* 요소 선택자 */
div {
  /* background-color: burlywood !important <<권장X; */
}

/* id 선택자 */
#radiobox {
  background-color: aquamarine;
}

/* class 선택자 */
.span_t {
  background-color: rgba(0, 255, 0, 0.3);
  /* #5fff87; */
}
